@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #0a0a0a;
  --light: #ffffff;
}

body {
  color: var(--light);
  background: var(--dark);
}
.backdrop {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Safari support */
}

