@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-justify-inter-word {
    text-align: justify;
    text-justify: inter-word;
  }
}



:root {
  --dark: #0a0a0a;
  --light: #ffffff;
}

body {
  color: var(--light);
  background: var(--dark);
}
.backdrop {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Safari support */
}

