@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-justify-inter-word {
    text-align: justify;
    text-justify: inter-word;
    word-spacing: .01rem;
  }
}

:root {
  --dark: #0a0a0a;
  --dark-secondary: #272727;
  --light: #ffffff;
  --light-secondary: #ffffff;
}

.backdrop {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Safari support */
}

